
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  font-family: sans-serif;
  background: url('cine-clip-background.jpg') center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.description-box {
  background: rgba(173, 216, 230, 0.65);
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 25px;
  max-width: 90%;
}
h1 {
  font-size: 35px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.video-thumb {
  width: 110px;
  cursor: pointer;
  border: 3px solid white;
  border-radius: 10px;
  transition: transform 0.2s;
}

.video-thumb:hover {
  transform: scale(1.05);
}

.album-link {
  margin: 20px;
  text-align: center;
}

.album-link a {
  background-color: #003366;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
  display: inline-block;
}

iframe {
  width: 100%;
  max-width: 800px;
  height: 240px;
  border: none;
  margin-top: 20px;
}
@media (max-width: 599px) {
  html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: auto;
  }
  .description-box {
  background: rgba(173, 216, 230, 0.65);
  padding: 5px;
  }
  h1 {
  font-size: 20px;
  }
  iframe {
  width: 100%;
  max-width: 800px;
  height: 180px;
  border: none;
  margin-top: 5px;
  }
    .album-link {
  margin: 10px;
  text-align: center;
    }
}
